---
layout: default
---

<!-- begin tags -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="page-head">
        <h1 class="page-title">Tags</h1>
        <p class="page-description">Browse posts by topic</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="tags__inner" id="tags">
        <div class="tag-cloud">
          {% for tag in site.tags %}
          {% assign tag_name = tag[0] | downcase %}
          {% assign tag_color = site.data.tags[tag_name] | default: "var(--primary-color)" %}
          <a href="#{{ tag[0] | slugify }}" class="tag-cloud__item" style="background-color: {{ tag_color }};">{{ tag[0] }}</a>
          {% endfor %}
        </div>

        {% for tag in site.tags %}
        <div class="tag__info" id="{{ tag[0] | slugify }}">
          <h2 class="tag__title">{{ tag[0] }}</h2>
          <p class="tag__description"><span>{{ tag[1].size }}</span> post{% if tag[1].size > 1 %}s{% endif %}</p>
          <div class="row">
            {% for post in tag[1] %}
            <article class="article col col-4 col-d-6 col-t-12">
              <div class="article__inner">
                <div class="article__head">
                  <a href="{{ post.url | relative_url }}" class="article__image">
                    {% if post.image %}
                    <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy">
                    {% else %}
                    <img src="{{ "/assets/images/post-default.svg" | relative_url }}" alt="{{ post.title }}" loading="lazy">
                    {% endif %}
                  </a>
                </div>
                <div class="article__content">
                  <h3 class="article__title">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  </h3>
                  <p class="article__excerpt">{{ post.excerpt | strip_html | truncate: 100 }}</p>
                  <div class="article__meta">
                    <span class="article__date">{{ post.date | date_to_string | upcase }}</span>
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end tags -->